war/cn/
war/ktrwjr/
war/admin/
war/skillmaps/
war/WEB-INF/appengine-generated/
war/WEB-INF/deploy/
war/WEB-INF/classes/

build/

.gwt/
.settings/
.externalToolBuilders/

src/com/appspot/skillmaps/server/meta

www-test
.settings/