
war/ktrwjr
war/WEB-INF/classes
war/admin
src/com/appspot/skillmaps/server/meta
war/WEB-INF/appengine-generated
war/skillmaps
build/
.gwt/
war/WEB-INF/appengine-generated/datastore-indexes-auto.xml
war/WEB-INF/appengine-generated/local_db.bin
war/WEB-INF/deploy/
.settings/com

.settings/com.google.gdt.eclipse.core.prefs