@CHARSET "utf8";
* {
	font-family:'ヒラギノ角ゴ Pro W3','Hiragino Kaku Gothic Pro','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif !important;
}

body {
  font-size: small;
}

#header {
  margin: 0px 100px;
}

#footer {
  color: #C0C0C0;
  margin: 50px 0 0;
  text-align: center;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  padding: 40px 0px 5px;
  text-align: center;
}

.sendButton {
  display: block;
  font-size: 16pt;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

#closeButton {
  margin: 15px 6px 6px;
}

#loading {
  text-align: center;
}

.body {
  margin: 5px 80px 0px 95px;
}

.grid-columns {
	background-color: #E5ECF9;
	font-weight: bold;
	text-align: center;
}

.columns-tags {
	background-color: #98fb98;
	font-weight: bold;
	text-align: center;
}

.tags-grid {
	margin: 0 50px 0 0;
}

.tags-grid td {
	margin: 0px 5px;
}

.anchor {
	color: #03f;
	text-decoration: underline;
}

.skill a {
	margin: 10px;
}

.skill a.mega {
	font-size: 24px;
	color: #cc0000;
}

.skill a.big {
	font-size: 22px;
	color: #cc6600;
}

.skill a.middle {
	font-size: 18px;
	color: #000000;
}

.skill a.small {
	color: #000000;
}

.skill-grid {
	width: 760px;
}

.skill-grid tr {
	margin: 0 5px;
}

.skill-grid td.skill-name {
	width: 100px;
}

.skill-grid td.skill-point {
	width: 50px;
}

.skill-grid td.skill-description {
	width: 300px;
}

.skill-grid td.skill-agree-link {
	width: 110px;
}

.skill-grid td.skill-detail {
	width: 200px;
}

.agree-comment {
	width: 200px;
	overflow: auto;
}


.gwt-SuggestBox {
  padding: 2px;
}
.gwt-SuggestBoxPopup {
  margin-left: 3px;
}
.gwt-SuggestBoxPopup .item {
  padding: 2px 6px;
  color: #424242;
  cursor: default;
}
.gwt-SuggestBoxPopup .item-selected {
  background: #b7d6f6;
}
.gwt-SuggestBoxPopup .suggestPopupContent {
  background: white;
}
.gwt-SuggestBoxPopup .suggestPopupTopCenter {
  background: url(mypage/gwt/standard/images/hborder.png) repeat-x;
}
.gwt-SuggestBoxPopup .suggestPopupBottomCenter {
  background: url(mypage/gwt/standard/images/hborder.png) repeat-x 0px -4px;
  -background: url(mypage/gwt/standard/images/hborder_ie6.png) repeat-x 0px -4px;
}
.gwt-SuggestBoxPopup .suggestPopupMiddleLeft {
  background: url(mypage/gwt/standard/images/vborder.png) repeat-y;
}
.gwt-SuggestBoxPopup .suggestPopupMiddleRight {
  background: url(mypage/gwt/standard/images/vborder.png) repeat-y -4px 0px;
  -background: url(mypage/gwt/standard/images/vborder_ie6.png) repeat-y -4px 0px;
}
.gwt-SuggestBoxPopup .suggestPopupTopLeftInner {
  width: 5px;
  height: 5px;
  zoom: 1;
}
.gwt-SuggestBoxPopup .suggestPopupTopRightInner {
  width: 8px;
  height: 5px;
  zoom: 1;
}
.gwt-SuggestBoxPopup .suggestPopupBottomLeftInner {
  width: 5px;
  height: 8px;
  zoom: 1;
}
.gwt-SuggestBoxPopup .suggestPopupBottomRightInner {
  width: 8px;
  height: 8px;
  zoom: 1;
}
.gwt-SuggestBoxPopup .suggestPopupTopLeft {
  background: url(mypage/gwt/standard/images/corner.png) no-repeat 0px -23px;
  -background: url(mypage/gwt/standard/images/corner_ie6.png) no-repeat 0px -23px;
}
.gwt-SuggestBoxPopup .suggestPopupTopRight {
  background: url(mypage/gwt/standard/images/corner.png) no-repeat -5px -23px;
  -background: url(mypage/gwt/standard/images/corner_ie6.png) no-repeat -5px -23px;
}
.gwt-SuggestBoxPopup .suggestPopupBottomLeft {
  background: url(mypage/gwt/standard/images/corner.png) no-repeat 0px -28px;
  -background: url(mypage/gwt/standard/images/corner_ie6.png) no-repeat 0px -28px;
}
.gwt-SuggestBoxPopup .suggestPopupBottomRight {
  background: url(mypage/gwt/standard/images/corner.png) no-repeat -5px -28px;
  -background: url(mypage/gwt/standard/images/corner_ie6.png) no-repeat -5px -28px;
}
* html .gwt-SuggestBoxPopup .suggestPopupTopLeftInner {
  width: 5px;
  height: 5px;
  overflow: hidden;
}
* html .gwt-SuggestBoxPopup .suggestPopupTopRightInner {
  width: 8px;
  height: 5px;
  overflow: hidden;
}
* html .gwt-SuggestBoxPopup .suggestPopupBottomLeftInner {
  width: 5px;
  height: 8px;
  overflow: hidden;
}
* html .gwt-SuggestBoxPopup .suggestPopupBottomRightInner {
  width: 8px;
  height: 8px;
  overflow: hidden;
}

.user-dialog {
	border: 2px solid #ABB8C7;
	width: 760px;
	padding: 15px;
	background-color: #ffffff;
	overflow: auto;
}
