body {
  font-size: small;
}

#header {
  margin: 0px 100px;
}

#footer {
  color: #C0C0C0;
  margin: 50px 0 0;
  text-align: center;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
  padding: 40px 0px 5px;
  text-align: center;
}


.sendButton {
  display: block;
  font-size: 16pt;
}

.gwt-DialogBox {
  width: 760px;
}

.dialogVPanel {
  margin: 5px;
}

.serverResponseLabelError {
  color: red;
}

#closeButton {
  margin: 15px 6px 6px;
}

#loading {
  text-align: center;
}

.body {
  margin: 5px 80px 0px 95px;
}

.grid-columns {
	background-color: #E5ECF9;
	font-weight: bold;
	text-align: center;
}

.columns-tags {
	background-color: #98fb98;
	font-weight: bold;
	text-align: center;
}

.tags-grid {
	margin: 0 50px 0 0;
}

.tags-grid td {
	margin: 0px 5px;
}

.anchor {
	color: #03f;
	text-decoration: underline;
}

.skill a {
	margin: 10px;
}

.skill a.mega {
	font-size: 24px;
	color: #cc0000;
}

.skill a.big {
	font-size: 22px;
	color: #cc6600;
}

.skill a.middle {
	font-size: 18px;
	color: #000000;
}

.skill a.small {
	color: #000000;
}

.skill-grid {
	width: 760px;
}

.skill-grid tr {
	margin: 0 5px;
}

.skill-grid td.skill-name {
	width: 100px;
}

.skill-grid td.skill-point {
	width: 50px;
}

.skill-grid td.skill-description {
	width: 300px;
}

.skill-grid td.skill-agree-link {
	width: 110px;
}

.skill-grid td.skill-detail {
	width: 200px;
}

.agree-comment {
	width: 200px;
	overflow: auto;
}
